body{
    margin: 0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.login{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

form{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}

.form_contents{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 25px;
}

label{
    display:inline-block;
    font-size: 13px;
}

.mail{
    text-align: left;
    margin: 25px;
}

.password{
    text-align: left;
    margin: 25px;
}

.loginbutton{
    text-align: center;
}

.submit_button{
    border:1px solid lightgray;
    padding: 6px 60px 4px 60px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 200px;
    margin-top: 70px;
    margin-bottom: 30px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}




